/* Portfolio */

#portfolio {
  padding: 3rem;
  background-color: #f9f9f9;
  text-align: center;
  background: url('../assets/images/homebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;  /* Ensures the image covers the full area */
  background-position: center;
  height: 100vh;  /* Ensures the section takes full viewport height */
  position: relative;  /* Keeps other content properly placed on top */
}

.portfolio-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 3rem;
  position: relative;  /* Keeps the content from being affected by background */
}

.portfolio-item {
  /* background: rgb(255, 246, 246); */
  background: rgba(115, 236, 255, 0.2); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply blur effect */

  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(255, 255, 255);
  padding: 3rem;  /* Increased padding to give more space inside the card */
  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-height: 350px;  /* Set a minimum height to make the cards taller */
}

.portfolio-item:hover {
  box-shadow: 0 7px 20px rgb(147, 226, 255);
  padding: 1rem;
}

.portfolio-image {
  width: 70%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
  border: #bcb4b4 , 1px solid;
}

.portfolio-details h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.portfolio-details p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

.portfolio-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #d7d4d4;
  border-radius: 10px;
  color: black;
}

.portfolio-link:hover {
  background-color: #ffffff;
  color: black;
}

#porth3{
  color: rgb(144, 188, 255);
}