/* About.css */
#about {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #000000; */

  background: url('../assets/images/homebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Adjusting height to fit content */
  min-height: 100vh;

  padding-top: 60px; /* Adjust according to your navbar height */
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.about-card {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  /* background: #b0e2dc; */
  background: rgba(5, 153, 176, 0.2); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply blur effect */
}

.about-card:hover {
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.8);
}

.card-header {
  background: #14787a;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px;
  
}

.card-content p, .card-content ul {
  font-size: 16px;
  line-height: 1.5;
}

.card-content ul {
  list-style-type: none;
  padding: 0;
}

.card-content ul li {
  margin-bottom: 8px;
}

.map-container {
  margin-top: 15px;
  margin: auto;
  width: 100%;
  max-width: 500px;
  height: 250px;
}

h3 {
  color: aliceblue;
}

h2 {
  color: rgb(255, 255, 255);
}
