/* About.css */
#about {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .about-container {
    display: flex;
    gap: 30px;
  }
  
  .about-content h2 {
    text-align: center;
  }
  
  .about-content p {
    text-align: center;
    font-size: 17px;
  }
  
  .contact-info li {
    margin-bottom: 16px;
    font-size: 20px;
  }