/* Home.css */
#home {
    background: url('./images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 100vh;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blur-container {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 2rem 3rem;
    border-radius: 15px;
  }
  
  .blur-container h1 {
    font-size: 4rem;
    color: lightblue;
  }
  
  .blur-container p {
    font-size: 1.5rem;
  }