/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: grey;
    position: sticky;
    top: 0;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .nav-links li a:hover {
    border: 1px solid lightblue;
  }